// Remove prefix added in BS5 for compat with Joomla beta's shipped with Betas
$prefix: "";

@import "vendor/awesomplete/awesomplete";
@import "vendor/bootstrap53/bootstrap";

@import "novus/header";
@import "novus/chromes";


body{
  background: #8a8c9c !important;
}


@import "blocks/global"; // Leave this first

// // jQuery Minicolors
@import "../../../../system/scss/jquery-minicolors";


$quickicon-icon-size: 32px;
$display2-size: 1rem;
$bold-weight: 600;
@import "variables";
// // Blocks
 @import "blocks/alerts";
 @import "blocks/edit";
 @import "blocks/header";
 @import "blocks/form";
 @import "blocks/icons";
 @import "blocks/iframe";
 @import "blocks/layout";
 @import "blocks/login";
 @import "blocks/modals";
 @import "blocks/quickicons";
 @import "blocks/lists";
 @import "blocks/sidebar";
 @import "blocks/sidebar-nav";
 @import "blocks/switcher";
@import "blocks/toolbar";
 @import "blocks/treeselect";
 @import "blocks/utilities";

// // These DO NOT BELONG HERE!!!
 @import "vendor/codemirror";
 @import "vendor/dragula";
 @import "vendor/tinymce";

// // Also these DO NOT BELONG HERE!!!
// // Page specifics
 @import "pages/com_config";
 @import "pages/com_content";
 @import "pages/com_cpanel";
 @import "pages/com_joomlaupdate";
 @import "pages/com_modules";
 @import "pages/com_tags";
 @import "pages/com_privacy";
 @import "pages/com_templates";
 @import "pages/com_users";


 .quickicon-group, .quickicon-single{
  background: rgb(225,225,235);
  background: linear-gradient(180deg, rgba(225,225,235,1) 0%, rgba(240,241,251,1) 59%, rgba(219,221,224,1) 100%);
  border: 1px solid #838383;
 }

 .quickicon-group:hover, .quickicon-single:hover{
  background: rgb(96, 96, 112);
  border: 1px solid #838383;
 }

.card-columns .card{
  margin-bottom: 0.5rem;
}



:root{
  --template-bg-dark: #37383d;
  --btn-bg: #c3c6d4;
}


div[role="tablist"]{
  background: #c3c6d4;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  button[role="tab"]{
    background: #c3c6d4!important;
  }
}

joomla-tab{
  border: 1px solid #838383;

}

joomla-tab-element{
  background: #ffffff !important;
}

#application-form{

  border: 1px solid #838383;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #f5f5f5;

  .sidebar-nav{
    border: 1px solid #d8d8d8;
    height: 100%;
  }
  .row{
    --gutter-x: 0;
  }

  button[aria-expanded="true"]{
    background: #eff2ff !important;
  }
}

