// Remove prefix added in BS5 for compat with Joomla beta's shipped with Betas
$prefix: "";

@import "vendor/awesomplete/awesomplete";
@import "vendor/bootstrap53/bootstrap";


body{
  background: #ffffff !important;
}


@import "blocks/global"; // Leave this first

// // jQuery Minicolors
@import "../../../../system/scss/jquery-minicolors";


$quickicon-icon-size: 32px;
$display2-size: 1rem;
$bold-weight: 600;
@import "variables";
// // Blocks
 @import "blocks/alerts";
 @import "blocks/edit";
 @import "blocks/header";
 @import "blocks/form";
 @import "blocks/icons";
 @import "blocks/iframe";
 @import "blocks/layout";
 @import "blocks/login";
 @import "blocks/modals";
 @import "blocks/quickicons";
 @import "blocks/lists";
 @import "blocks/sidebar";
 @import "blocks/sidebar-nav";
 @import "blocks/switcher";
@import "blocks/toolbar";
 @import "blocks/treeselect";
 @import "blocks/utilities";

// // These DO NOT BELONG HERE!!!
 @import "vendor/codemirror";
 @import "vendor/dragula";
 @import "vendor/tinymce";
 @import "vendor/choicesjs/choices";
// // Also these DO NOT BELONG HERE!!!
// // Page specifics
 @import "pages/com_config";
 @import "pages/com_content";
 @import "pages/com_cpanel";
 @import "pages/com_joomlaupdate";
 @import "pages/com_modules";
 @import "pages/com_tags";
 @import "pages/com_privacy";
 @import "pages/com_templates";
 @import "pages/com_users";

@import "novus/header";
@import "novus/chromes";
@import "novus/tables";
@import "novus/forms";
@import "novus/modals";
@import "novus/quickicons";
@import "novus/commedia";
@import "novus/footer";
@import "novus/bsoverrides";
@import "novus/activecompmenu";
.card-columns .card{
  margin-bottom: 0.5rem;
}



:root{
  --template-bg-dark: #37383d;
  --template-bg-light: #f8f8f8;
  --btn-bg: #c3c6d4;
}



.btn.dropdown-toggle{
  background: #c3c6d4;
  border: 1px solid #838383;
  color: #000000;
  &:hover{
    background: #c3c6d4;
    border: 1px solid #838383;
    color: #000000;
  }
}

.subhead .btn[disabled], .btn.dropdown-toggle[disabled] {
  --subhead-btn-accent: var(--template-bg-dark);
  background: rgba(101, 118, 134, 0.8);
  opacity: 0.5;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
}

body{
  font-family: "SourceSansPro", sans-serif;
}

#mainpagearea{
  background: url('../images/interlaced.png') repeat;
  min-height: 80vh;
  border-bottom: 1px solid #c7c7c7;
}