.btn{
    --btn-bg: white;
}

.btn-primary{
    --btn-bg: #170952;
}

.btn-secondary{
    --btn-bg: #6c757d;
}

.btn-success{
    --btn-bg: #1b582a;
}

.btn-info{
    --btn-bg: #10343a;
}

.btn-warning{
    --btn-bg: #ffc107;
}

.btn-danger{
    --btn-bg: #81000d;
}