#mainAdminMenu{
   > ul >.nav-item > a{
        color: white;
        text-decoration: none;
    }

    .nav-item{
        
        color: white;
        text-decoration: none;
    }
 


    li.dropdown.dropdown-item:active a{
        background: white;
    }

    li.dropdown.dropdown-item{
        a{
            width: 100%;
            display: block;
            
        }
    }

    li.dropdown-item{
        a{
            &.level2-jumplink{
                width: auto;
                padding: 0.25rem;
                border: 1px solid grey;
                position: absolute;
                left: -16px;
                background: white;
                border-radius: 0.25rem;
                top: 0;
                &:hover{
                    background: #f1f1f1;
                }
            }
        }
    }

    .dropdown-item:active{
        background-color: white;
    }




    li.divider.dropdown-item{
        border-bottom: 1px solid #ccc;
        height: 2px;

        
    }

    .dropdown-item{
        position: relative;
        padding-right: 1rem;
        padding-left: 1rem;
        a{
            display: flex;
            text-decoration: none;
            align-items: baseline;
        }


        .submenuiconimg{
            display: inline-block;
        }
    }


    .menu-quicktask {
        position: absolute;
        right: 16px;
        top: 5px;
    }

    ul.collapse-level-2{
        display: none;
        background: white;
        padding: 0.25rem;
        
        border: 1px solid #dbdbdb;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 10;
        @include box-shadow(0 0 5px rgba(0,0,0,0.2));

        max-height: 50vh;
        overflow-y: auto;
    }


    ul.collapse-level-2 li{
        list-style: none;
        a{
            width: 100%;
            display: block;
            text-decoration: none;
            padding: 0.25rem;
        }
        a:hover{
            background: #f1f1f1;
        }
    }

    ul.collapse-level-2.show{
        display: block;
    }


    ul li ul li a.dropdown-toggle::after{
            transform: rotate(-90deg) translatey(-50%);
            position: absolute;
            right: 5px;
            top: 50%;
            
    }





    .menu-dashboard a{
        width: 100%;
    }

    .dropdown-item:has(span.menu-dashboard){
        border-bottom: 1px solid #ccc;
    }

    li:has(>.menu-quicktask){
        padding-right: 3rem;
    }



}

header h1{
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
}

.the-site-title{
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

#toolbar-holder{
    background: rgb(219, 219, 219);
    border-bottom: 1px solid #c7c7c7;
    .btn-group,  joomla-toolbar-button {
        -webkit-margin-start: 0.75rem;
        margin-inline-start: 0.75rem;
    }

    .btn-group:not(:last-child)>.dropdown-toggle-split {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-margin-start: -0.25rem;
        border-radius: 0 0.25rem 0.25rem 0;
        margin-inline-start: -0.25rem;
        order: 1;
    }
}

header{


    .navbar-toggler{
        background: rgb(255, 255, 255);
    }

    background: rgb(52,52,203);
    background: linear-gradient(180deg, rgb(48, 60, 129) 0%, rgba(4,0,66,1) 100%);

    .dropdown-menu{
        color: black !important;

    }

    .header-item-content a, .header-item-content button{
        color: black !important;
        .header-item-text{
            color: white !important;
        }
    }
    

    .header-item-content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-padding-end: 4px;
        align-items: center;
        background-color: #25256b;
        border-radius: 22px;
        border: 1px solid rgb(10, 8, 26);
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 1rem;
        padding-inline-end: 4px;
        margin-left: 0.5rem;
        @include box-shadow(0 0 5px rgba(0,0,0,0.5));

        &:hover{
            background-color: #15153b !important;
        }

        &.joomlaversion{
            padding: 10px;
        }





    }

    .header-items{
        a[target=_blank]::before{
            display: none;
        }

        a{
            text-decoration: none;
        }
    }

    .navbar-nav{
        .nav-item:first-child{
            display: none;
        }

        .nav-item{
            padding: 0.5rem 1rem 0.5rem 0rem;
  
            .icon-fw{
                margin-right: 0.5rem;
            }

        }
    }


}

#status-module{
    .icon-angle-down{
        color: white;
    }
}

#pageTitle{
    display: flex;
    align-items: center;


}

body.prefer-desktop{
    .level2-jumplink{
        display: none !important;
    }
}


@media screen and (max-width: 992px){
    #mainAdminMenu ul.collapse-level-2.show{
        display: block;
        position: relative;
        left: 0;
        margin-top: 0.5rem;
    }
    #mainAdminMenu ul li ul li a.dropdown-toggle::after {
        transform: rotate(0deg) translatey(-50%);
        position: absolute;
        right: 5px;
        top: 50%;
    }

    .dropdown-item:has(.collapse-level-2.show){
        a.dropdown-toggle::after{
            display: none;
        }
    }
}